{% extends "admin/change_list.html" %}
{% load static %}


{% block extrahead %}
{{ block.super }}
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    var canvas = document.getElementById("myChart");
    var ctx = canvas.getContext('2d');

    // Global Options:
    Chart.defaults.global.defaultFontColor = 'black';
    Chart.defaults.global.defaultFontSize = 10;

    
    var dataTemp = [];
    var dataHum = [];
    var dataCo2= [];

    '{% for result in cl.result_list %}'

    '{# quick fix. Temp_ID =  1, hum_ID = 2, Co2_id =3  #}'
 
        '{% if result.read_type_id == 1 %}'
            dataTemp.push( {x:'{{ result.date_time |date:"Y-m-d H:i"}}',y:'{{ result.value }}' } )
        '{% endif %}'

        '{% if result.read_type_id == 2 %}'
            dataHum.push(  {x:'{{ result.date_time|date:"Y-m-d H:i" }}',y:'{{ result.value }}' } )
        '{% endif %}'

        '{% if result.read_type_id == 3 %}'
            dataCo2.push(  {x:'{{ result.date_time|date:"Y-m-d H:i"}}',y:'{{ result.value }}' } )
        '{% endif %}'

    '{% endfor %}'

    console.log(dataTemp);
    var data = {
        //labels: xAxisLabel,
        datasets: [{
                label: "Temperature",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(225,0,0,0.0)",
                borderColor: "green", // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "green",
                pointHoverBorderColor: "blue",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                data: dataTemp,
                spanGaps: true,
            }, 
            
            {
                label: "Humidity",
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(167,105,0,0.0)",
                borderColor: "rgb(167, 105, 0)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "white",
                pointBackgroundColor: "black",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "yellow",
                pointHoverBorderColor: "blue",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                data: dataHum,
                spanGaps: true,
            }, 
            
            {
                label: "CO2",
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(167,105,0,0.0)",
                borderColor: "red",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "white",
                pointBackgroundColor: "black",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "red",
                pointHoverBorderColor: "blue",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                data: dataCo2,
                spanGaps: true,
            }

        ]
    };

    

    var options = {
        
        elements: {
            line: {
                tension: 0 // disables bezier curves
            }
        },
        layout: {
            padding: {
                left: 0,
                right: 30,
                top: 0,
                bottom: 0
            }
        },
        scales: {

            xAxes: [{
                type: 'time',
                time: {
                    unit: 'day',
                    distribution: 'data',
                    bounds:'data',
                    ticks: 'data',
                    stepSize: 1,
                    displayFormats: {
                        day: 'MMM D',
                    },
                },
            }],

            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                stacked: true,
                scaleLabel: {
                    display: true,
                    labelString: '',
                    fontSize: 20 
                }
            }]            
        }  
    };

   

    // Chart declaration:
    var myBarChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
    });


})


</script>
{% endblock %}


{% block content %}


<div style="width: 100%;">
    
    <canvas style="margin-bottom: 50px; width: 60%; height: 50%;" id="myChart"></canvas>
    
  </div>
  <h3>By default Data is filter from must recent </h3>
<!-- Render the rest of the ChangeList view by calling block.super -->
{{ block.super }}
{% endblock %}